# 빌드 폴더 및 IDE 파일 무시
/build/
.idea/
*.iml
*.class
.gradle/
.vscode/
*.code-workspace

# OS 파일 무시
.DS_Store

# 환경 변수 파일
*.properties
*.yml
src/main/resources/*.yml
src/main/resources/*.properties
src/main/resources/application-test.yml
